$white: #fff;
$yellow: #f6b438;
$red: #fa5353;
$green: #28f028;
$gray: gray;

.card {
  width: 20rem;
  height: 600px;
  box-shadow: 2px 2px 18px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 24px;
  &:hover {
    transform: scale(1.01);
    transition: all 0.2s ease;
  }
}

.cardImage {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
}

.cardRating {
  position: absolute;
  top: -18px;
  right: -18px;
  border-radius: 32px;
  width: 50px;
  height: 50px;
  padding: 9px;
  color: $white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background: $yellow;
}

.red {
  background: $red;
}

.green {
  background: $green;
}

.gray {
  background: $gray;
}

.year {
  font-weight: 800;
}

.favButton {
  background: none;
  border: none;
  outline: none;
  i {
    color: red;
    font-size: 24px;
    outline: none;
  }
}
