.cardSkeleton {
  width: 20rem;
  height: 600px;
  background: hsl(0, 0%, 89%);
  margin-bottom: 48px;
  margin-left: 32px;
  box-shadow: 2px 2px 18px 1px rgba(0, 0, 0, 0.2);
  position: relative;

  &::after {
    content: "";
    top: 0;
    transform: translateX(100%);
    width: 200px;
    height: 600px;
    position: absolute;
    z-index: 1;
    animation: slide 1s infinite;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    );
  }

  .imageSkeleton {
    height: 400px;
    width: 100%;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .cardTitleSkeleton {
    margin-top: 24px;
    margin-left: 18px;
    width: 150px;
    height: 18px;
    background: white;
  }

  .cardYearSkeleton {
    width: 90px;
    height: 14px;
    background: white;
    margin-top: 28px;
    margin-left: 18px;
  }

  .cardRatingSkeleton {
    position: absolute;
    top: -18px;
    right: -18px;
    border-radius: 32px;
    width: 50px;
    height: 50px;
    padding: 9px;
    background: hsl(0, 0%, 89%);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    .cardRatingContentSkeleton {
      width: 30px;
      height: 16px;
      border-radius: 24px;
      background: white;
    }
  }
  .cardButtonSkeleton {
    background: white;
    height: 30px;
    width: 70px;
    margin-left: 18px;
    margin-top: 32px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
